accelerate==0.17.0
boto3==1.26.94
botocore==1.29.94
controlnet-aux @ git+https://github.com/patrickvonplaten/controlnet_aux.git@1f13884a600e8550ac0d7f3d120d733e5a4d6b1d
diffusers==0.20.1
einops==0.6.0
huggingface-hub==0.16.4
hydra-core==1.3.2
invisible-watermark==0.1.5
lmdb==1.4.0
matplotlib==3.7.1
mypy-boto3-autoscaling==1.26.69
mypy-boto3-sqs==1.28.36
mypy-extensions==1.0.0
numpy==1.24.2
oauthlib==3.2.2
omegaconf==2.3.0
opencv-contrib-python==4.7.0.72
opencv-python==4.6.0.66
opencv-python-headless==4.8.0.76
Pillow==9.4.0
protobuf==3.20.3
psycopg2-binary==2.9.5
python-dotenv==1.0.0
pytorch-lightning==1.5.9
PyYAML==6.0
scikit-image==0.20.0
scipy==1.9.1
torch==2.0.1
torchmetrics==1.2.1
torch-fidelity==0.3.0
torchvision==0.15.2
tqdm==4.65.0
transformers==4.30.2
wandb==0.15.3